{% extends "pdf_base.html" %}
{% block title %}Performance Summary{% endblock %}

{% block report_title %}
    <h1 class="pdf-report-title">Ship Performance Summary</h1>
    <p class="pdf-report-subtitle">Bulk Carrier Performance Report</p>
{% endblock %}

{% block content %}
    {% for vc, data in summary.items() %}
        <h3 class="section-heading">Vessel Condition: {{ vc }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Speed (kn)</th>
                    <th>Weather</th>
                    <th>Time (hrs)</th>
                    <th>Distance (nm)</th>
                    <th>Consumption (mt)</th>
                    <th>Avg Speed (kn)</th>
                    <th>Avg Cons. (mt/day)</th>
                </tr>
            </thead>
            <tbody>
                {% for speed in [13.5, 12.0] %}
                    {% for weather_type in ["all_weather", "good_weather"] %}
                        {% set key = speed ~ "_" ~ weather_type %}
                        {% set item = data[key] %}
                        <tr>
                            <td>{{ speed }}</td>
                            <td>{{ weather_type.replace('_', ' ') | title }}</td>
                            <td>{{ item.total_time }}</td>
                            <td>{{ item.total_distance }}</td>
                            <td>{{ item.total_consumption }}</td>
                            <td>{{ item.avg_speed }}</td>
                            <td>{{ item.avg_consumption_per_day }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
